*{
  box-sizing: border-box;
}

body{
  background-color: #ccc;
  font-family: "Roboto";
  color: #101632dd;
}

body, div, ul, nav, header, footer, a, li, label{
  margin: 0;
  padding: auto;
}

/* HEADER SECTION */

.header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
}

.header__open-nav-button{
  color: rgb(79, 187, 245);
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  right: 10px;
}

.header__checkbox{
  display: none;
}

.header__nav{
  display: none;
  background-color: #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.header__nav-list{
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav{
  display: flex;
}

.header__logo{
  max-width: 100%;
  width: 64px;
  margin: 10px 20px;
}

.header__nav-item{
  list-style: none;
}

.header__nav-item a {
  color: rgb(79, 187, 245);
  text-decoration: none;
}

.header__nav-item :is(:hover,:active){
  text-decoration: underline;
}

.header__nav-item a:not(:is(:hover,:active)){
  text-decoration: none;
}

/* HEADER QUERIES */

@container header (min-width: 600px){
  
}